@model HMGreenCityMLM.Models.Reports

@{
    ViewBag.Title = "Defaulter Business Partner List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("DefaultAssociateList", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Defaulter Business Partner List</h5>
                        @*<button class="btn btn-info"><a href="#!" class="text-white">Add New News</a></button>*@
                    </div>
                    @*<p style="color: red;display: block; margin-bottom:0px; text-align:center">
                            @TempData["ChangeAsspassword"]
                        </p>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Login Id</label>
                           @Html.TextBoxFor(m => m.ToLoginID, new { @class = "form-control",@placeholder="LoginID" })
                           @Html.HiddenFor(m => m.LoginId)
                        </div>
                        <div class="form-group col-md-3">
                            <label>Status</label>
                            <select class="form-control" id="Status" name="Status">
                                <option value="">Select</option>
                                <option value="Yellow">Yellow</option>
                                <option value="Green">Green</option>
                                <option value="Red">Red</option>
                                <option value="Block">Block</option>
                            </select>
                            @*@Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.ddlstatus, "Value", "Text"), new { @class = "form-control" })*@
                        </div>
                        <div class="form-group col-md-3">
                            <label>From Date</label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Date" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>To Date</label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "To Date" })
                        </div>
                        <div class="form-group col-md-2">
                            <label>IsDownline</label>
                            @Html.CheckBoxFor(m => m.IsDownline)
                        </div>
                        <div class="form-group col-md-4">
                            <input type="submit" id="btnSearch" class="btn btn-success pull-left" name="Search" value="Search" onclick="return validateLogin();" />
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th> Login Id</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    @*<th>Last TopUp Amount</th>
                                      <th>Last TopUp Date</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstDefaultAssociateList != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstDefaultAssociateList)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td>@Item.LoginId</td>
                                                <td>@Item.Name</td>
                                                <td>@Item.Status</td>
                                                <td>@Item.Date</td>
                                                @*<td>@Item.LastTopUpAmount</td>
                                                 <td>@Item.LastTopUpDate</td>*@
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>



                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $(document).ready(function () {
        debugger;
        $('#dataTables-example').DataTable({
            responsive: true
        });
        $("input").attr("autocomplete", "off");
        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/AdminReports/GetUserList',
            type: 'Post',
            success: function (response) {
                debugger;

                if (response != null) {
                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });

                    $('#ToLoginID').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");
                            $('#LoginId').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }

            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    </script>


