@model HMGreenCityMLM.Models.Reports
@{
    ViewBag.Title = "DirectList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Direct", "AdminReports", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{

    //==================================================================================================================
    <section class="section">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Direct List</h6>
                            @*<button class="btn btn-info"><a href="/Master/ProductMaster" class="text-white">Add New</a></button>*@
                        </div>
                        <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>LoginId<span style="color: red"></span></label>
                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id", @required = "required" })
                                @Html.HiddenFor(m => m.ToLoginID)
                            </div>
                            <div class="form-group col-md-3">
                                <label>From Date <span style="color: red"></span></label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Joining Date" })
                            </div>
                            <div class="form-group col-md-3">
                                <label>To Date<span style="color: red"></span></label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "To Joining Date" })
                            </div>
                            <div class="form-group col-md-3">
                                <label>From Activation Date<span style="color: red"></span></label>
                                @Html.TextBoxFor(m => m.FromActivationDate, new { @class = "form-control", @placeholder = "From Activation Date" })
                            </div>
                            <div class="form-group col-md-3">
                                <label>To Activation Date<span style="color: red"></span></label>
                                @Html.TextBoxFor(m => m.ToActivationDate, new { @class = "form-control", @placeholder = "To Activation Date" })
                            </div>
                            <div class="form-group col-md-3">
                                <label>  Leg<span style="color: red"></span></label>
                                @Html.DropDownListFor(m => m.Leg, new SelectList(ViewBag.ddlleg, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-3">
                                <label> Status<span style="color: red"></span></label>
                                @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.ddlStatus, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-3">
                                <input type="submit" class="btn btn-info mt-4" value="Get Details" name="GetDetails" onclick="return validateLogin();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Login Id</th>
                                        <th>Name</th>
                                        <th>Mobile No</th>
                                        <th>Email Id</th>
                                        <th>Leg</th>
                                        <th>Joining Date</th>
                                        <th>Package</th>
                                        <th>Activation Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstassociate != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstassociate)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>

                                                    <td>@Item.LoginId</td>
                                                    <td>@Item.Name</td>
                                                    <td>@Item.Mobile</td>
                                                    <td>@Item.Email</td>
                                                    <td>@Item.Leg</td>
                                                    <td>@Item.JoiningDate</td>
                                                    <td>@Item.Package</td>
                                                    <td>@Item.PermanentDate</td>
                                                    <td>@Item.Status</td>
                                                </tr>
                                                i++;
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    //==================================================================================================================
}


<script src="../vendor/jquery/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $(document).ready(function () {
        $("input").attr("autocomplete", "off");

        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/AdminReports/GetUserList',
            type: 'Post',
            success: function (response) {
                if (response != null) {


                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });

                    $('#LoginId').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");

                            $('#ToLoginID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });

    function validateLogin() {
        var login = $('#LoginId').val();
        if (login == "") {
            $('#ToLoginID').val(null);
        } else {
            var loginid = $('#ToLoginID').val();

        }
    }

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });

    $('#FromActivationDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToActivationDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });


</script>
