@model HMGreenCityMLM.Models.Wallet

@{
    ViewBag.Title = "AdvancePaymentReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("AdvancePaymentReport", "Admin", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{


    <br />
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Advance Payment Report</h6>
                                <p style="color: red;display: block; margin-bottom:0px;">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">

                                        <div class="row">
                                            <div class="col-md-2 form-group">
                                                <label>Login ID</label>
                                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login ID" })
                                                @Html.HiddenFor(m => m.ToLoginID)
                                            </div>
                                            <div class="col-lg-2 form-group">
                                                <label>From Date </label>
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="col-lg-2 form-group">
                                                <label>To Date </label>
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="col-lg-2 form-group">
                                                <label>Downline </label> <br />
                                                @Html.CheckBoxFor(m => m.IsDownline)
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label class="d-block">&nbsp; </label>
                                                <input type="submit" class="btn btn-success" value="Get Details" onclick="return validateLogin();" name="btnDetails" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 table-responsive">
                                                <div class="dt-responsive table-responsive">
                                                    <table class="table mb-0" id="example23">
                                                        
                                                        <thead>
                                                            <tr>
                                                                <th>Sr No.</th>
                                                                <th>Login ID</th>
                                                                <th>Name</th>
                                                                <th>Amount</th>
                                                                <th>Payment Date</th>
                                                                <th>Payment Mode</th>
                                                                <th>Payment Details</th>
                                                                <th>Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model != null)
                                                            {
                                                                if (Model.lstewalletledger != null)
                                                                {
                                                                    int i = 1;
                                                                    foreach (var Item in Model.lstewalletledger)
                                                                    {
                                                                        <tr class="text-left">
                                                                            <td>@i</td>
                                                                            <td>@Item.LoginId</td>
                                                                            <td>@Item.DisplayName</td>
                                                                            <td>@Item.Amount</td>
                                                                            <td>@Item.PaymentDate</td>
                                                                            <td>@Item.PaymentMode</td>
                                                                            <td>@Item.TransactionNo</td>
                                                                            <td>@Item.Description</td>
                                                                        </tr>

                                                                        i++;
                                                                    }
                                                                }
                                                            }


                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th style="text-align:right">Total Amount</th>
                                                                <th style="color:dodgerblue;font-weight:800">@ViewBag.Total</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </section>
            </div>
        </div>
    </div>




                        <!-- main-panel ends -->
}

<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
</script>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
        $("input").attr("autocomplete", "off");

        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/AdminReports/GetUserList',
            type: 'Post',
            success: function (response) {
                if (response != null) {


                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });

                    $('#LoginId').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");

                            $('#ToLoginID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
    function validateLogin() {
        var login = $('#LoginId').val();
        if (login == "") {
            $('#ToLoginID').val(null);
        } else {
            var loginid = $('#ToLoginID').val();

        }
        if ($("#IsDownline").is(':checked')) {
            if ($("#LoginId").val() == "") {
                alert('Please Enter LoginId');
                return false;
            }
            else {
                return true;
            }
        }
    }
</script>
