@model HMGreenCityMLM.Models.Reports
@{
    ViewBag.Title = "BusinessPartnerListForKYC";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
   .popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.popup img {
  display: block;
  margin: auto;
  max-width: 60%;
  max-height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:ease-in-out .5s;
}

.close-popup {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
</style>
@using (Html.BeginForm("AssociateListForKYC", "Admin", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{


    <br />
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">Approve/Reject KYC</h6>
                                <span style="color: red">
                                    @TempData["KYCVerification"]
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label>LoginId<span style="color:red"></span></label>
                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "LoginID" })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="hidden" id="hdf" value="@Model.Status">
                                            <label>Status<span style="color:red"></span></label>
                                            <select class="form-control" id="Status" name="Status">
                                                <option value="Pending">Pending</option>
                                                <option value="Approved">Approved</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label>From Date</label>
                                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Date" , @autocomplete = "off" })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label>To Date</label>
                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "To Date" , @autocomplete = "off" })
                                        </div>


                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="submit" id="btnSearch" class="btn btn-success" name="btnSearch" value="Search" />
                                    </div>
                                </div>


                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">

                                        <div class="row">
                                            <div class="col-md-12 table-responsive">

                                                <div class="dt-responsive table-responsive">
                                                    <table class="table mb-0" id="example23">

                                                        <thead>
                                                            <tr>
                                                                <th>Sr No.</th>
                                                                <th> Login Id</th>
                                                                <th>Name</th>
                                                                <th>Document Type</th>
                                                                <th>Document Image</th>
                                                                <th>Document Number</th>
                                                                <th>Status</th>
                                                                <th>Upload Date</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model != null)
                                                            {
                                                                if (Model.lstassociate != null)
                                                                {
                                                                    int i = 1;
                                                                    foreach (var Item in Model.lstassociate)
                                                                    {
                                                                        <tr class="text-left">
                                                                            <td>@i</td>
                                                                            <td>@Item.LoginId</td>
                                                                            <td>@Item.Name</td>
                                                                            <td>@Item.DocumentType</td>
                                                                            <td class="zoom">
                                                                                    <img src="@Item.DocumentImage" height="120" width="180" class="zoomable-image"/>
                                                                                </td>
                                                                          
                                                                        

                                                                            <td>@Item.DocumentNumber</td>
                                                                            <td>@Item.Status</td>
                                                                            <td>@Item.UploadDate</td>
                                                                            <td class="text-center">
                                                                                @if (Item.Status == "Pending")
                                                                                {
                                                                                    @*@Html.ActionLink("Approve","ApproveKYC","Admin",new{@Item.PK_DocumentID,@Item.DocumentType})*@
                                                                                    <a href="/Admin/ApproveKYC?Id=@Item.PK_DocumentID&&DocumentType=@Item.DocumentType&&LoginID=@Item.LoginId" runat="server" class="btn btn-success pull-right" name="btnUpdate"  onclick="return confirm('Are you sure you want to Approve this KYC Details?');">Approve</a>
                                                                                    <a href="/Admin/RejectKYC?Id=@Item.PK_DocumentID&&DocumentType=@Item.DocumentType&&LoginID=@Item.LoginId" runat="server" class="btn btn-warning pull-right mt-1" name="btnUpdate" onclick="return confirm('Are you sure you want to Reject this KYC Details?');">Reject</a>
                                                                                    <a href="/Admin/DeleteKYC?Id=@Item.PK_DocumentID&&DocumentType=@Item.DocumentType&&LoginID=@Item.LoginId" runat="server" class="btn btn-danger pull-right mt-1" name="btnUpdate" onclick="return confirm('Are you sure you want to Delete this KYC Details?');">Delete</a>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                        i++;
                                                                    }
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="image-popup" class="popup">
        <span class="close-popup">&times;</span>
        <img class="popup-image" src="" alt="Zoomed Image">
    </div>
}




<script src="../../WebsiteCss/js/jquery.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>

    //// start zoom view document
    document.addEventListener('DOMContentLoaded', function () {
        var images = document.querySelectorAll('.zoomable-image');
        var popup = document.getElementById('image-popup');
        var popupImage = document.querySelector('.popup-image');
        var closePopup = document.querySelector('.close-popup');

        images.forEach(function (image) {
            image.addEventListener('click', function () {
                var imageUrl = image.src;
                popupImage.src = imageUrl;
                popup.style.display = 'block';
            });
        });

        closePopup.addEventListener('click', function () {
            popup.style.display = 'none';
        });

        window.addEventListener('click', function (event) {
            if (event.target == popup) {
                popup.style.display = 'none';
            }
        });
    });
    //// end zoom view document

    $(document).ready(function () {
        $("#Status").val($("#hdf").val()).attr("selected", "selected");
    });
   
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
 
</script>
