@model HMGreenCityMLM.Models.Reports
@{
    ViewBag.Title = "Pay Payout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<style>
    #dataTables-example{
        max-height:600px;
    }
    body.dark-layout .modal .modal-body, body.dark-layout .modal .modal-content, body.dark-layout .modal .modal-footer {
    background-color: #f0f1f7;
}
    body.dark-layout .modal .modal-header .close, body.dark-layout .modal .modal-header[class*=bg-] .close {
    background-color: #f0f1f7;
    text-shadow: none;
}
    
.modal-body {
    color: black;
    overflow-y: scroll;
    max-height: 500px;
}
</style>*@
@using (Html.BeginForm("PayPayout", "Admin", FormMethod.Post, new { @id = "form1" }))
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Pay Payout</h5>
                        @*<button class="btn btn-info"><a href="#!" class="text-white">Add New News</a></button>*@
                    </div>
                    <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                        @TempData["PayPayout"]
                    </p>
                    <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                        @TempData["PayoutUpdate"]
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Login Id</label>
                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id" })
                        </div>
                        @Html.HiddenFor(m => m.ToLoginID)
                        <div class="form-group col-md-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;<label class="mt-5">Downline</label>
                            @Html.CheckBoxFor(m => m.IsDownline)
                        </div>
                        <div class="form-group col-md-3" id="divLeg" style="display: none">
                            <label>Leg</label>
                            @Html.DropDownListFor(m => m.Leg, new SelectList(ViewBag.ddlLeg, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <input type="submit" class="btn btn-info" value="Get Details" name="GetDetails" onclick="return validateLogin();" />
                            <input type="submit" class="btn btn-success" value="Export To Excel" name="Export" />
                        </div>
                    </div>
                    <br />
                    @if (Model != null)
                    {

                        if (Model.lstassociate != null)
                        {
                            int i = 1;
                    <div class="table-responsive">
                        @*<table class="table table-striped table-hover" id="tableExport" style="width:100%;">*@
                        <table class="table table-striped table-hover" id="tableExport234" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Login Id</th>
                                    <th>Name</th>
                                    <th>Account No</th>
                                    <th>Bank Name</th>
                                    <th>IFSC Code</th>
                                    <th>KYC Status</th>
                                    <th>Amount</th>
                                    <th style="padding: 10px 50px;white-space: nowrap;">Remarks</th>
                                    <th style="padding: 10px 50px;white-space: nowrap;">Pay Amount</th>
                                    <th style="padding: 10px 50px;white-space: nowrap;">Payment Mode</th>
                                    <th id="thbankname" style="padding: 10px 50px;white-space: nowrap;display:none">Bank Name</th>
                                    <th id="thbranch" style="padding: 10px 50px;white-space: nowrap;display:none">Bank Branch</th>
                                    <th style="padding: 10px 50px;white-space: nowrap;display:none" id="thtransactionnumber">Transaction No</th>
                                    <th style="padding: 10px 50px;white-space: nowrap;display:none" id="thtransactiondate">Transaction Date</th>
                                    <th style="display:none"></th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th><b>Total</b></th>
                                    <th>@ViewBag.Total</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>

                                @foreach (var Item in Model.lstassociate)
                                {
                                    <tr class="text-left">
                                        <td>@i</td>
                                        <td>@Item.LoginId</td>
                                        <td>@Item.Name</td>
                                        <td>@Item.MemberAccNo</td>
                                        <td>@Item.BankName</td>
                                        <td>@Item.IFSCCode</td>
                                        <td>@Item.AddharPanStatus</td>
                                        <td hidden="hidden">
                                            <a href="#" class="btn btn-danger btn-sm" onclick="openDeletePopup('@Item.LoginId');">
                                                @Item.Amount
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-danger btn-sm" onclick="openDeletePopup('@Item.LoginId');">
                                                @Item.AmountNew
                                            </a>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="txtremarks_@i" name="txtremarks_@i" />
                                        </td>
                                        <td width="200px">
                                            <input type="text" class="form-control" id="txtamount_@i" name="txtamount_@i" />
                                        </td>
                                        <td>
                                      @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control ddlPaymentMode_" + @i, @onchange = "return getpaymentdetails(" + @i + ");" })
                                            <input type="hidden" name="paymentmode_@i" />
                                        </td>
                                        <td width="200px" id="tdbankname_@i">
                                            <input type="text" placeholder="Bank Name" style="display:none;width:200px" class="form-control" id="txtbankname_@i" name="txtbankname_@i" />
                                        </td>
                                        <td width="200px" id="tdbranchname_@i">
                                            <input type="text" placeholder="Branch Name" style="display:none;width:200px" class="form-control" id="txtbankbranch_@i" name="txtbankbranch_@i" />
                                        </td>
                                        <td width="200px" id="tdtrancation_@i">
                                            <input type="text" placeholder="Transaction No" style="display:none;width:200px" class="form-control" id="txttranno_@i" name="txttranno_@i" />
                                            <input type="hidden" class="form-control" id="Fk_UserId_@i" name="Fk_UserId_@i" value="@Item.Fk_UserId" />
                                        </td>

                                        <td id="tdtrandate_" class="tdtrandate_@i">
                                            <input type="date" style="display:none" class="form-control" id="txttransdate_@i" name="txttransdate_@i" />
                                        </td>
                                    </tr>
                                    i++;
                                }
                                <input style="display:none;" type="text" id="hdRows2" name="hdRows2" value="@i" />

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="submit" id="Save" name="Save" class="btn btn-success" value="Pay" />
                            </div>
                        </div>
                    </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.PayoutLoginId)
    <div class="modal fade" id="myModal" role="dialog" style="display: none;padding-top:55px;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Payout Details</h6>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal();">&times;</button>

                </div>
                <div class="modal-body" style="color: black">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="tblData">
                                    <thead>
                                        <tr>
                                            <th>Payout No</th>
                                            <th>Closing Date</th>
                                            <th>Net Payable Amount</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal();">Close</button>
                    </div>*@
            </div>

        </div>
    </div>






    @*<div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <p style="color: red">
                    @TempData["PayPayout"]
                </p>
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account"
                                           aria-controls="account" role="tab" aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block">Pay Payout</span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-4">
                                                LoginId
                                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id" })
                                            </div>
                                            @Html.HiddenFor(m => m.ToLoginID)

                                            <div class="col-md-1">
                                                Downline
                                                @Html.CheckBoxFor(m => m.IsDownline)
                                            </div>
                                            <div class="col-md-4" id="divLeg" style="display: none">
                                                Leg
                                                @Html.DropDownListFor(m => m.Leg, new SelectList(ViewBag.ddlLeg, "Value", "Text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4">
                                                <br />
                                                @*<a href="/Admin/PayVoucherAchiever" class="btn btn-info">Get Details</a>*
                                                <input type="submit" class="btn btn-info" value="Get Details" name="GetDetails" onclick="return validateLogin();" />
                                                <input type="submit" class="btn btn-success" value="Export To Excel" name="Export" />
                                            </div>
                                        </div>
                                        <br />
                                        @if (Model != null)
                                        {

                                            if (Model.lstassociate != null)
                                            {
                                                int i = 1;
                                                <div class="panel-body table-responsive">
                                                    <table class="table table-striped table-bordered table-hover"  id="dataTables-example">
                                                        <thead>
                                                            <tr>
                                                                <th>Sr No.</th>
                                                                <th>Login Id</th>
                                                                <th>Name</th>
                                                                <th>Account No</th>
                                                                <th>Bank Name</th>
                                                                <th>IFSC Code</th>
                                                                <th>Amount</th>
                                                                <th style="padding: 10px 50px;white-space: nowrap;">Remarks</th>
                                                                <th style="padding: 10px 50px;white-space: nowrap;">Pay Amount</th>
                                                                <th style="padding: 10px 50px;white-space: nowrap;">Payment Mode</th>
                                                                <th id="thbankname" style="padding: 10px 50px;white-space: nowrap;display:none">Bank Name</th>
                                                                <th id="thbranch" style="padding: 10px 50px;white-space: nowrap;display:none">Bank Branch</th>
                                                                <th style="padding: 10px 50px;white-space: nowrap;display:none" id="thtransactionnumber">Transaction No</th>
                                                                <th style="padding: 10px 50px;white-space: nowrap;display:none" id="thtransactiondate">Transaction Date</th>

                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th><b>Total</b></th>
                                                                <th>@ViewBag.Total</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>

                                                            @foreach (var Item in Model.lstassociate)
                                                            {
                                                                <tr class="text-left">
                                                                    <td>@i</td>
                                                                    <td>@Item.LoginId</td>
                                                                    <td>@Item.Name</td>
                                                                    <td>@Item.MemberAccNo</td>
                                                                    <td>@Item.BankName</td>
                                                                    <td>@Item.IFSCCode</td>
                                                                    <td hidden="hidden">
                                                                        <a href="#" class="btn btn-danger btn-sm" onclick="openDeletePopup('@Item.LoginId');">
                                                                            @Item.Amount
                                                                        </a>
                                                                    </td>
                                                                    <td><a href="#" class="btn btn-danger btn-sm" onclick="openDeletePopup('@Item.LoginId');">
                                                                        @Item.Amount1</a>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtremarks_@i" name="txtremarks_@i" />
                                                                    </td>
                                                                    <td width="200px">
                                                                        <input type="text" class="form-control" id="txtamount_@i" name="txtamount_@i" />
                                                                    </td>
                                                                    <td>
                                                                        @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control ddlPaymentMode_" + @i, @onchange = "return getpaymentdetails(" + @i + ");" })
                                                                        <input type="hidden" name="paymentmode_@i" />
                                                                    </td>
                                                                    <td width="200px" id="tdbankname_@i">
                                                                        <input type="text" placeholder="Bank Name" style="display:none;width:200px" class="form-control" id="txtbankname_@i" name="txtbankname_@i" />
                                                                    </td>
                                                                    <td width="200px" id="tdbranchname_@i">
                                                                        <input type="text" placeholder="Branch Name" style="display:none;width:200px" class="form-control" id="txtbankbranch_@i" name="txtbankbranch_@i" />
                                                                    </td>
                                                                    <td width="200px" id="tdtrancation_@i">
                                                                        <input type="text" placeholder="Transaction No" style="display:none;width:200px" class="form-control" id="txttranno_@i" name="txttranno_@i" />
                                                                        <input type="hidden" class="form-control" id="Fk_UserId_@i" name="Fk_UserId_@i" value="@Item.Fk_UserId" />
                                                                    </td>

                                                                    <td id="tdtrandate_" class="tdtrandate_@i">
                                                                        <input type="date" style="display:none" class="form-control" id="txttransdate_@i" name="txttransdate_@i" />
                                                                    </td>
                                                                </tr>
                                                                i++;
                                                            }
                                                            <input type="hidden" id="hdRows2" name="hdRows2" value="@i" />

                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input type="submit" id="Save" name="Save" class="btn btn-success" value="Pay"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        }
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.PayoutLoginId)
    <div class="modal fade" id="myModal" role="dialog" style="display: none;padding-top:55px;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Payout Details</h6>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal();">&times;</button>

                </div>
                <div class="modal-body" style="color: black">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="tblData">
                                    <thead>
                                        <tr>
                                            <th>Payout No</th>
                                            <th>Closing Date</th>
                                            <th>Net Payable Amount</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            </tr>
                                        </tfoot>
                                </table>
                                </div>
                            </div>
                        </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal();">Close</button>
                    </div>*
            </div>

        </div>
    </div>*@
}
<script src="../vendor/jquery/jquery.min.js"></script>

<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $(document).ready(function () {

        if ($("#IsDownline").is(':checked')) {
            $("#divLeg").show();
        }
        //$('#IsDownline').prop('checked', true);
        $('#IsDownline').change(function () {
            if (this.checked) {
                $("#divLeg").show();
                //alert('Show');
            }
            else {
                $("#divLeg").hide();
            }
        });

        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/AdminProfile/GetUserList',
            type: 'Post',
            success: function (d) {
                if (d != null) {
                    $(d).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });
                    $('#LoginId').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");
                            if (strsplit[2] != undefined) {
                                $('#ToLoginID').val(strsplit[2].substr(0, strsplit[2].length - 1));
                            } else {
                                $('#ToLoginID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                            }
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
    function openDeletePopup(PayoutLoginId) {
        $("#PayoutLoginId").val(PayoutLoginId);
        $(".errortext").removeClass("errortext");
            //$("#divload").css({ 'display': '' });
            $.ajax({
                url: "/Admin/GetPayoutReportforAmount",
                Type: "Get",
                DataType: "JSON",
                data: { PayoutLoginId: $("#PayoutLoginId").val() },
                success: function (data) {
                    console.log(data)
                    $('#tblData').find("tr:not(:first)").remove();
                    if (data.lsttopupreport.length > 0) {
                        for (var i = 0; i < data.lsttopupreport.length; i++) {
                            $("#tblData").append('<tr><td id="PayoutNo' + i + ' " >' + data.lsttopupreport[i].PayoutNo +
                                '</td><td id="ClosingDate' + i + ' " >' + data.lsttopupreport[i].ClosingDate +
                                 '</td><td id="NetAmount' + i + ' " >' + data.lsttopupreport[i].NetAmount +
                                '</td></tr>')
                        }
                        $("#myModal").modal('show');
                    }
                }
            });

    }

    function closeModal() {
        $("#myModal").hide();
        //$('body').removeClass().removeAttr('style'); $('.modal-backdrop').remove();
    }

    //function getpaymentdetails() {
    //    var table = document.getElementById("dataTables-example");
    //    var paymentmode = ($("#PaymentMode option:selected").text());
    //    if (paymentmode != "Cash") {
    //        $('#thbranch').show();
    //        $('#thbankname').show();
    //        $('#thtransactionnumber').show();
    //        $('#thtransactiondate').show();
    //        $('#tdtrandate_').show();
    //        $('#tdbranchname_').show();
    //        $('#tdbankname_').show();
    //        $('#tdtrancation_').show();
    //        }
    //    else {
    //        $('#thbranch').hide();
    //        $('#thbankname').hide();
    //        $('#thtransactionnumber').hide();
    //        $('#thtransactiondate').hide();
    //        $('#tdtrandate_').hide();
    //        $('#tdbranchname_').hide();
    //        $('#tdbankname_').hide();
    //        $('#tdtrancation_').hide();
    //    }
    //}

    function getpaymentdetails(index) {
        debugger;
        var paymentmode = $('.ddlPaymentMode_' + index).val();

        // Set the selected payment mode to the hidden input field
        $('[name="paymentmode_' + index + '"]').val(paymentmode);

        // Hide all input fields and headers initially
        $('#txtbankname_' + index).hide();
        $('#txtbankbranch_' + index).hide();
        $('#txttranno_' + index).hide();
        $('#txttransdate_' + index).hide();

        $('#thbankname, #thbranch, #thtransactionnumber, #thtransactiondate').hide();

        if (paymentmode == "Cash" || paymentmode == "0") {
            // Do nothing as all fields should remain hidden
        } else if (paymentmode == "UPI") {
            // Show headers for Bank Name and Bank Branch, and headers for Transaction No and Transaction Date
            $('#thbankname, #thbranch, #thtransactionnumber, #thtransactiondate').show();

            // Only show the Transaction No and Transaction Date input fields
            $('#txttranno_' + index).show();
            $('#txttransdate_' + index).show();

            // Ensure Bank Name and Bank Branch input fields remain hidden
            $('#txtbankname_' + index).hide();
            $('#txtbankbranch_' + index).hide();
        } else {
            // Show headers and input fields for Bank Name, Bank Branch, Transaction No, and Transaction Date for other payment modes
            $('#thbankname, #thbranch, #thtransactionnumber, #thtransactiondate').show();
            $('#txtbankname_' + index).show();
            $('#txtbankbranch_' + index).show();
            $('#txttranno_' + index).show();
            $('#txttransdate_' + index).show();
        }
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function validateLogin() {
        var login = $('#LoginId').val();
        if (login == "") {
            $('#ToLoginID').val(null);
        } else {
            var loginid = $('#ToLoginID').val();

        }
    }

</script>
<style>
    .btn-success {
        margin-top: 29px;
    }
    .btn-info{
        margin-top: 29px;
        margin-left: 20px;
    }
</style>