@model HMGreenCityMLM.Models.DashBoard
@{
    ViewBag.Title = "AssociateDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content content">
<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Dashboard Analytics Start -->
        <section id="dashboard-analytics">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-column align-items-start pb-0">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                    <i class="feather icon-users text-primary font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.TotalDownline</h2>
                            <p class="mb-0">Total Downline</p>
                        </div>
                       
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-column align-items-start pb-0">
                            <div class="avatar bg-rgba-warning p-50 m-0">
                                <div class="avatar-content">
                                    <i class="feather icon-package text-warning font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.TotalDirects</h2>
                            <p class="mb-0">Total Directs</p>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-column align-items-start pb-0">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                    <i class="feather icon-users text-primary font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.TotalActive</h2>
                            <p class="mb-0">Total Active</p>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-column align-items-start pb-0">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                    <i class="feather icon-users text-primary font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.TotalInActive</h2>
                            <p class="mb-0">Total InActive</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-column align-items-start pb-0">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                    <i class="feather icon-users text-primary font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.TotalPayout</h2>
                            <p class="mb-0">Total Payout</p>
                        </div>
                      
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-column align-items-start pb-0">
                            <div class="avatar bg-rgba-warning p-50 m-0">
                                <div class="avatar-content">
                                    <i class="feather icon-package text-warning font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.TotalAdvance</h2>
                            <p class="mb-0">Total Advance</p>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-column align-items-start pb-0">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                    <i class="feather icon-users text-primary font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.TotalDeduction</h2>
                            <p class="mb-0">Total Deduction</p>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex flex-column align-items-start pb-0">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                    <i class="feather icon-users text-primary font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.PayoutWalletBalance</h2>
                            <p class="mb-0">Payout Balance</p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <p>http://admin.hmgreencity.com/Home/Registration?Pid=@Session["LoginId"]&lg=Left </p>
                    </div>
                    <div class="alert alert-info">
                        <p>http://admin.hmgreencity.com/Home/Registration?Pid=@Session["LoginId"]&lg=Right </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Investment Details</h4>
                        </div>
                        <div class="card-content">
                           
                            <div class="table-responsive">
                                <table class="table mb-0" id="example23">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Product Name</th>
                                            <th>Amount</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstinvestment != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstinvestment)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td>@Item.ProductName</td>
                                                        <td>@Item.Amount</td>
                                                        <td>@Item.Status</td>


                                                    </tr>
                                                    i++;
                                                }

                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Total Business</h4>
                        </div>
                        <div class="card-content">

                            <div class="table-responsive">
                                <table class="table mb-0" id="example22">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Team</th>
                                            <th>Total</th>
                                            <th>Paid</th>
                                            <th>C/F</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left">
                                            <td>Left</td>
                                            <td>@ViewBag.TotalBusinessLeft</td>
                                            <td>@ViewBag.PaidBusinessLeft</td>
                                            <td>@ViewBag.CarryLeft</td>


                                        </tr>
                                        <tr class="text-left">
                                            <td>Right</td>
                                            <td>@ViewBag.TotalBusinessRight</td>
                                            <td>@ViewBag.PaidBusinessRight</td>
                                            <td>@ViewBag.CarryRight</td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Current Month Business Details</h4>
                        </div>
                        <div class="card-content">

                            <div class="table-responsive">
                                <table class="table mb-0" id="example23">
                                    <thead class="thead-dark">
                                        <tr>
                                           
                                            <th>Direct Business</th>
                                            <th>Team Business</th>
                                           

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left">
                                          
                                            <td>@ViewBag.DirectBusiness</td>
                                            <td>@ViewBag.TeamBusiness</td>
                                            


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

</section>
        <!-- Dashboard Analytics end -->
    </div>
</div>
    </div>
