@model HMGreenCityMLM.Models.Reports
@{
    ViewBag.Title = "AssociateList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using (Html.BeginForm("AssociateList", "AdminProfile", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <p style="color:red">
        @TempData["BlockUnblock"]
        @TempData["UpdateProfilebyadmin"]
    </p>
    <br />
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account"
                                           aria-controls="account" role="tab" aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block">   Associate List </span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">

                                        <div class="row">

                                            <div class="col-md-12 table-responsive">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Login ID </label>
                                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Name </label>
                                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Sponsor ID</label>
                                                            @Html.TextBoxFor(m => m.SponsorId, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Sponsor Name</label>
                                                            @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>From Date</label>
                                                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>To Date</label>
                                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Status</label>
                                                            @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.ddlstatus, "Value", "Text"), new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <br />
                                                            <input type="submit" id="btnSearch" class="btn btn-success pull-left" name="Search" value="Search" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dt-responsive table-responsive">
                                                    <table class="table mb-0" id="example23">

                                                        <thead>
                                                            <tr>
                                                                <th>Sr No.</th>
                                                                <th> Login Id</th>
                                                                <th>Password</th>
                                                                <th>Name</th>
                                                                <th>Sponsor Id</th>
                                                                <th>Sponsor Name</th>
                                                                <th>Joining Date</th>
                                                                <th>Mobile No</th>
                                                                <th>Email Id</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model != null)
                                                            {
                                                                if (Model.lstassociate != null)
                                                                {
                                                                    int i = 1;
                                                                    foreach (var Item in Model.lstassociate)
                                                                    {
                                                                        <tr class="text-left">
                                                                            <td>@i</td>
                                                                            <td>@Item.LoginId</td>
                                                                            <td>@Item.Password</td>
                                                                            <td>@Item.Name</td>
                                                                            <td>@Item.SponsorId</td>
                                                                            <td>@Item.SponsorName</td>
                                                                            <td>@Item.JoiningDate</td>
                                                                            <td>@Item.Mobile</td>
                                                                            <td>@Item.Email</td>
                                                                            <td>
                                                                                <a href="/AdminProfile/UpdateAssociateProfile?LoginID=@Item.LoginId" class="btn btn-info">
                                                                                    Edit
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                                @if (Item.isBlocked == "False")
                                                                                {
                                                                                    <a href="/AdminProfile/BlockAssociate?LoginID=@Item.LoginId" class="btn btn-danger">
                                                                                        Block
                                                                                    </a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a href="/AdminProfile/UnblockAssociate?LoginID=@Item.LoginId" class="btn btn-success">
                                                                                        Unblock
                                                                                    </a>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                @if (Item.Status == "Inactive")
                                                                                {
                                                                                    <a href="/AdminProfile/ActivateUser?FK_UserID=@Item.Fk_UserId" class="btn btn-success" onclick="return confirm('Sure you want to activate this User ?')">
                                                                                        Activate
                                                                                    </a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a href="/AdminProfile/DeactivateUser?lid=@Item.LoginId" class="btn btn-danger" onclick="return confirm('Sure you want to deactivate this User ?')">
                                                                                        Deactivate
                                                                                    </a>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                <a href="/AdminProfile/WelcomeLetter?LoginID=@Item.LoginId" class="btn btn-info">
                                                                                    Print
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        i++;
                                                                    }

                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </section>
            </div>
        </div>
    </div>


}

<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
</script>
