@model HMGreenCityMLM.Models.KYCDocuments

@{
    ViewBag.Title = "KYCDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
       <br />
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
@using (Html.BeginForm("KYCDocuments", "KYCDocuments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   <span style="color:red">@TempData["DocumentUpload"]</span> 
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   Upload KYC
                </div>
                <div class="panel-body">

                    <fieldset>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Adhar Number <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.AdharNumber, new { @class = "form-control", @required="required" })
                                    @Html.DisplayFor(m => m.AdharStatus, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AdharNumber)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Pan Number <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control", @required="required" })
                                    @Html.DisplayFor(m => m.PanStatus, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.PanNumber)
                                    @*<input type ="text" id="txtLastName" value="@item1.LastName" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Document Number <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control", @required="required" })
                                    @Html.DisplayFor(m => m.DocumentStatus, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DocumentNumber)
                                    @*<input type ="text" id="txtMobile"  value="@item1.Mobile" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Adhar Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" />
                                    <br />
                                    <img src="@Url.Content(Model.AdharImage)" height="120" width="180" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Pan Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" />
                                    <br />
                                    <img src="@Url.Content(Model.PanImage)" height="120" width="180" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Document Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" />
                                    <br />
                                    <img src="@Url.Content(Model.DocumentImage)" height="120" width="180"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="submit" id="btnUpdate" class="btn btn-success pull-right" name="btnUpdate" value="Update" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
         
}

