@model HMGreenCityMLM.Models.Wallet
@{
    ViewBag.Title = "PaidPayout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("PaidPayout", "Admin", FormMethod.Post, new { @id = "form1" }))
{

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account"
                                           aria-controls="account" role="tab" aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block">Paid Payout</span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-3">
                                                LoginId
                                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id" })
                                                @Html.HiddenFor(m => m.ToLoginID)
                                            </div>
                                            <div class="col-md-3">
                                                From Date
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Date",@readonly=true })
                                            </div>
                                            <div class="col-md-3">
                                                To Date
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "To Date", @readonly = true })
                                            </div>
                                            <div class="col-md-3">
                                                <br />
                                                <input type="submit" name="GetDetails" class="btn btn-info" value="Get Details" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="panel-body table-responsive">
                                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr No.</th>
                                                        <th>LoginId</th>
                                                        <th>Name</th>
                                                        <th>Payment Date</th>
                                                        <th>Amount</th>
                                                        <th>Transaction Date</th>
                                                        <th>TransactionNo</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th><b>Total</b></th>
                                                        <th>@ViewBag.Total</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    @if (Model != null)
                                                    {
                                                        if (Model.lstpayoutledger != null)
                                                        {
                                                            int i = 1;
                                                            foreach (var Item in Model.lstpayoutledger)
                                                            {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td>@Item.LoginId</td>
                                                        <td>@Item.DisplayName</td>
                                                       
                                                        <td>@Item.PaymentDate</td>
                                                        <td>@Item.Amount</td>
                                                        <td>@Item.TransactionDate</td>
                                                        <td>@Item.TransactionNo</td>
                                                    </tr>
                                                                i++;
                                                            }

                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
</script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
        $("input").attr("autocomplete", "off");

        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/AdminReports/GetUserList',
            type: 'Post',
            success: function (response) {
                if (response != null) {


                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });

                    $('#LoginId').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");

                            $('#ToLoginID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
</script>

