@model HMGreenCityMLM.Models.Master

@{
    ViewBag.Title = "BlockListFromCrm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("BlockListFromCrm", "Master", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{
    <span style="color: red">
        @TempData["BlockList"]
    </span>
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account"
                                           aria-controls="account" role="tab" aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block">Block List</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table mb-0" id="example23">
                                                    <thead>
                                                        <tr>
                                                            <th>S No.</th>
                                                            <th>Site Name</th>
                                                            <th>Sector Name</th>
                                                            <th>Block Name</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.lstBlock1 != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var Item in Model.lstBlock1)
                                                                {
                                                                    <tr class="text-left">
                                                                        <td>@i</td>
                                                                        <td>@Item.SiteName</td>
                                                                        <td>@Item.SectorName</td>
                                                                        <td>@Item.BlockName</td>
                                                                    </tr>

                                                                    i++;
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <span style="color: red">
                                                    @TempData["BlockList"]
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}


