@model HMGreenCityMLM.Models.Master

@{
    ViewBag.Title = "PlotListfromCRM";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("PlotListfromCRM", "Master", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{
    <span style="color: red">
        @TempData["BlockList"]
    </span>
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account"
                                           aria-controls="account" role="tab" aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block">Plot List</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Site Name <span style="color: red"></span></label>
                                                @Html.DropDownListFor(m => m.Fk_SiteId, new SelectList(ViewBag.ddlsite, "Value", "Text"), new { @class = "form-control", @onchange = "getsectorname();" })
                                            </div>
                                            <div class="col-md-3">
                                                <label>Sector Name <span style="color: red"></span></label>
                                                @Html.DropDownListFor(m => m.FK_SectorId, new SelectList(ViewBag.ddlsector, "Value", "Text"), new { @class = "form-control", @onchange = "getblockname();" })
                                            </div>
                                            <div class="col-md-3">
                                                <label>Block Name <span style="color: red"></span></label>
                                                @Html.DropDownListFor(m => m.Fk_BlockId, new SelectList(ViewBag.ddlblock, "Value", "Text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-3">
                                                    <label>Plot Number <span style="color: red"></span></label>
                                                    @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Plot Number" })
                                            </div>
                                            <div class="col-md-3">
                                                <input type="hidden" id="PlotStatus123" value="@Model.Status" />
                                                    <label>Status <span style="color: red"></span></label>
                                                    <select id="Status" name="Status" class="form-control">
                                                        <option value="0">-Select-</option>
                                                        <option value="A">Available</option>
                                                        <option value="B">Booked</option>
                                                        <option value="H">Hold</option>
                                                        <option value="AL">Allotted</option>
                                                    </select>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <input type="submit" id="btnSearch11" class="btn btn-success" name="btnSearch11" value="Search" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane active mt-5" id="account" aria-labelledby="account-tab" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table mb-0" id="example23">
                                                    <thead>
                                                        <tr>
                                                            <th>S No.</th>
                                                            <th>SiteName</th>
                                                            <th>SectorName</th>
                                                            <th>BlockName</th>
                                                            <th>PlotNumber</th>
                                                            <th>PlotArea</th>
                                                            <th>PlotRate</th>
                                                            <th>PlotAmount</th>
                                                            <th>PLCCharge</th>
                                                            @*<th>BookingPercent</th>*@
                                                            @*<th>AllottmentPercent</th>*@
                                                            <th>Status</th>
                                                            @*<th>Edit</th>
                                                                <th>Delete</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.lstPlot != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var Item in Model.lstPlot)
                                                                {
                                                        <tr class="text-left">
                                                            <td>@i</td>
                                                            <td>@Item.SiteName</td>
                                                            <td>@Item.SectorName</td>
                                                            <td>@Item.BlockName</td>
                                                            <td>@Item.PlotNumber</td>
                                                            <td>@Item.PlotArea</td>
                                                            <td>@Item.PlotRate</td>
                                                            <td>@Item.PlotAmount</td>
                                                            <td>@Item.PLCCharge</td>
                                                            <td>@Item.PlotStatus</td>
                                                            @*<th>@Item.BookingPercent</th>
                                                                <th>@Item.AllottmentPercent</th>*@
                                                            @*<td><a class="@Item.ColorCSS">@Item.PlotStatus</a></td>
                                                                @if (Item.PlotStatus == "Available")
                                                                {
                                                                    <td>

                                                                        <a href="/Master/UpdatePlot?PlotID=@Item.EncryptKey" class="btn btn-info btn-sm" style="margin-top:5px">Edit</a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/Master/DeletePlot?id=@Item.PlotID" class="btn btn-danger btn-sm" style="margin-top:5px;margin-bottom:5px" onclick="return confirm('Are you sure you wish to delete this Plot?');">Delete</a>

                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td></td>
                                                                    <td></td>
                                                                }*@
                                                        </tr>

                                                                    i++;
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <span style="color: red">
                                                    @TempData["BlockList"]
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}


<script src="../vendor/jquery/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    debugger;
    if ($("#PlotStatus123").val() != 0) {
        debugger;
        $("#Status").val($("#PlotStatus123").val()).attr("selected", "selected");
    }
    function getsectorname() {
        $("#divload").css({ 'display': '' });
        $.ajax({
            url: '/Master/GetSectorNameFromCrm',
            type: "GET",
            dataType: "JSON",
            data: { Fk_SiteId: $('#Fk_SiteId').val() },
            success: function (data) {

                $("#FK_SectorId").html(""); // clear before appending new list
                $("#FK_SectorId").empty();
                $("#FK_SectorId").append(
                      $('<option></option>').val(0).html('Select Sector'));
                $.each(data.ddlSector, function (index, BlockCount) {
                    $("#FK_SectorId").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
            }

        });
        $("#divload").css({ 'display': 'none' });
    }
    function getblockname() {
        $("#divload").css({ 'display': '' });
        $.ajax({
            url: '/Master/GetBlockNameFromCrm',
            type: "GET",
            dataType: "JSON",
            data: { Fk_SiteId: $('#Fk_SiteId').val(), FK_SectorId: $('#FK_SectorId').val() },
            success: function (data) {

                $("#Fk_BlockId").html(""); // clear before appending new list
                $("#Fk_BlockId").empty();
                $("#Fk_BlockId").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.ddlblock, function (index, BlockCount) {
                    $("#Fk_BlockId").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
            }

        });
        $("#divload").css({ 'display': 'none' });

    }
</script>