@model HMGreenCityMLM.Models.EmployeeRegistrations

@{
    ViewBag.Title = "EmployeeRegistration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Permission
                </a>
            </li>
            <li class="active">
                Employee Registration
            </li>

        </ol>


    </div>
</div>
<br />
<!-- /.row -->
@using (Html.BeginForm("EmployeeRegistration", "EmployeeRegistration", FormMethod.Post, new { @id = "form1" }))
{

    @TempData["EmployeeRegistration"]
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Employee Registration


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">User Type <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.Fk_UserTypeId, new SelectList(ViewBag.ddlUserType, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mobile No <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @MaxLength = "10", @onkeypress = "return isNumberKey(evenet);" })
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email Id <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Onchange = "checkEmail();" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Qualification </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.EducationQualififcation, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" value="Register" onclick="filldata()">Register</a>
                            &nbsp;
                            <a class="btn btn-primary" href="/EmployeeRegistration/EmployeeDetails">Back To List</a>
                        </div>
                       
                    </div>

                </div>
            </div>
        </div>
    </div>

}


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
            <script type="text/javascript">


                function isNumberKey(evt) {
                    debugger;
                    var charCode = (evt.which) ? evt.which : event.keyCode;
                    if (charCode != 46 && charCode > 31
                      && (charCode < 48 || charCode > 57))
                        return false;

                    return true;
                }
                function checkEmail() {
                    debugger;

                    if (($("#Email").val() != "")) {
                        if ($("#Email").val()) {

                            var email = document.getElementById('Email');
                            var filter = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);

                            if (!filter.test($("#Email").val())) {
                                alert('Please provide a valid email address');
                                $("#Email").val('');
                                $("#Email").focus();
                                return false;
                            }



                        }

                    }

                }
                function filldata() {
                    debugger;

                    var Fk_UserTypeId = $("#Fk_UserTypeId option:selected").val();
                    $(".errortext").removeClass("errortext");
                    if ($("#Fk_UserTypeId").val() == "") {
                        $("#Fk_UserTypeId").addClass('errortext');
                        $("#Fk_UserTypeId").focus();
                        return false;
                    }
                    if ($("#Name").val() == "") {
                        $("#Name").addClass('errortext');
                        $("#Name").focus();
                        return false;
                    }

                    if ($("#Mobile").val() == "") {
                        $("#Mobile").addClass('errortext');
                        $("#Mobile").focus();
                        return false;
                    }


                    if ($("#Email").val() == "") {
                        $("#Email").addClass('errortext');
                        $("#Email").focus();
                        return false;
                    }
                    $.ajax({
                        url: '/EmployeeRegistration/SaveEmployeeRegistration',
                        type: "GET",
                        dataType: "JSON",
                        data: { Name: $("#Name").val(), Mobile: $("#Mobile").val(), Email: $("#Email").val(), Qualification: $("#EducationQualififcation").val(), Fk_UserTypeId: Fk_UserTypeId },
                        success: function (data) {
                            debugger;
                            if (data) {

                                debugger;
                                $('#Name').html("");
                                $('#Mobile').html("");
                                $('#Email').html("");

                                alert(data.Message);
                                var url = '@Url.Action("EmployeeDetails", "EmployeeRegistration")';
                                window.location.href = url;
                            }

                        }
                    });

                }
                                </script>


