@model HMGreenCityMLM.Models.DashBoard
@{
    ViewBag.Title = "AssociateDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tab1 {
        background: linear-gradient(to right, #3b8d99, #3b8d99, #3b8d99) !important;
        color: #fff;
    }

    .tab2 {
        background: linear-gradient(to right, #45a247, #45a247, #45a247) !important;
        color: #fff;
    }

    .tab3 {
        background: linear-gradient(to right, #e93334, #e93334, #e93334) !important;
        color: #fff;
    }

    .tab4 {
        background: linear-gradient(to right, #2e1437, #2e1437, #2e1437) !important;
        color: #fff;
    }
    .tab5 {
        background: linear-gradient(135deg, orange 60%,gray) !important;
        color: #fff;
    }

    .awardBg {
        background: rgb(76,167,186);
        background: linear-gradient(90deg, rgba(76,167,186,0) 0%, rgba(76,167,186,1) 100%);
    }

    .copied {
        font-family: 'Montserrat', sans-serif;
        width: 80px;
        opacity: 0;
        position: absolute;
        top: 10%;
        right: 7%;
        /* margin: auto; */
        font-weight: 600;
        color: #000;
        padding: 7px 12px;
        background-color: #fff;
        border-radius: 5px;
        transition: .4s opacity;
        z-index: 100;
    }

   canvas{
         width: 100%;
         height: 100%;
        overflow: hidden!important;
        position: absolute;
       }


    @@media (max-width:767px) {
        #congratulation .modal-content {
            height: 396px !important;
        }
    }

    #congratulation .modal-content {
        background-size: cover;
        /*background-image: url('../../assetsAdmin/img/congratulation_hm.png');*/
        /*background-image: url('../../assetsAdmin/img/congratulation_o.png');*/
        background-image: url('../../assetsAdmin/img/congratulation_.png');
        height: 500px;
        position: relative;
    }

        #congratulation .modal-content .modal-body img {
            width: 104px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 16%;
            text-align: center;
            margin: auto;
        }

        #congratulation .modal-content .modal-body h4 {
            position: absolute;
            left: 0px;
            right: 0px;
            text-align: center;
            bottom: 6%;
            color: #000;
            font-family: ui-serif;
        }


    /*rank modal css*/
    @@media (max-width:767px) {
        #rank .modal-content {
            height: 396px !important;
        }
    }

    #rank .modal-content {
        background-size: cover;
        background-image: url('../../assetsAdmin/img/congratulation_.png');
        height: 500px;
        position: relative;
    }
        /*#rank .modal-content .modal-body img{
       width: 104px;
        position: absolute;
        left: 0;
        right:0;
        bottom: 16%;
        text-align: center;
        margin: auto;
    }*/
        #rank .modal-content .modal-body h4 {
            text-align: center;
            color: #fff;
            position: relative;
        }

        #rank .modal-content h6 {
            color: #fff;
            position: relative;
        }

        #rank .modal-content .modal-body .contact-list li {
            border-color: #1a1a1a;
            display: flex;
        }

            #rank .modal-content .modal-body .contact-list li img {
                width: 50px;
                height: 50px;
                border: 1px solid #fff;
                padding: 5px;
            }

    #rank .modal-body .contact-list li .media-body .media-title {
        width: 144px;
    }

    #rank .modal-body .contact-list {
        border-color: #1a1a1a;
        margin: 0px;
    }

        #rank .modal-body .contact-list li .media-body .media-title {
            color: #fff;
        }

        #rank .modal-body .contact-list li .media-items {
            color: #fff;
        }
</style>
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Dashboard Analytics Start -->
            <section id="dashboard-analytics">
                @*===============================================================================*@
                <div class="row ">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card awardBg">
                            <div class="card-statistic-3">
                                <div class="card-content d-flex align-items-center">
                                    @*<img src="~/assetsAdmin/img/silver.png" />*@

                                    @if (Model.ImageURL == "null" || Model.ImageURL == "" || Model.AchiverRank == "null" || Model.AchiverRank == "")
                                    {
                                        <img src="~/images/hmlogo.png" height="100" width="100" />
                                        <h4 class="card-title pl-3 mb-0" style="color:#024a54">Welcome to HM CITY</h4>
                                    }
                                    else
                                    {
                                        <img src="@ViewBag.ImageURL" height="100" width="100" />
                                        <h4 class="card-title pl-3 mb-0" style="color:#024a54">@ViewBag.AchiverRank</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card tab1">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.TotalDownline</h4>
                                    <span class="text-white">Total Downline</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card tab4">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.TotalDirects</h4>
                                    <span class="text-white">Total Directs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab1">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.TotalActive</h4>
                                    <span class="text-white">Total Active</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab3">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.TotalInActive</h4>
                                    <span class="text-white">Total InActive</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab5">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.TotalHold</h4>
                                    <span class="text-white">Total Hold</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab2">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.TotalPayout</h4>
                                    <span class="text-white">Total Payout</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab4">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.TotalAdvance</h4>
                                    <span class="text-white">Total Advance</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab4">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.TotalDeduction</h4>
                                    <span class="text-white">Total Deduction</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab2">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.PayoutWalletBalance</h4>
                                    <span class="text-white">Payout Balance</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab3">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.UpdaidIncome</h4>
                                    <span class="text-white">UnPaid Income</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card tab1">
                            <div class="card-statistic-3">
                                <div class="card-icon card-icon-large"><i class=""></i></div>
                                <div class="card-content">
                                    <h4 class="card-title">@ViewBag.SelfBusiness </h4>
                                    <span class="text-white">Self Business</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <div class="input-group mb-3">
                                <input type="text" onclick="copy()" class="form-control text-white" style="background:#000; cursor:pointer;" value="http://admin.hmgreencity.com/Home/Registration?Pid=@Session["LoginId"]&lg=Left" id="copyClipboard" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-light" id="copyButton" onclick="copy()"><i class="far fa-copy text-dark"></i></button>
                                    @*<button class="btn btn-light" data-toggle="modal" data-target="#basicModal"><i class="fas fa-share-alt text-dark"></i></button>*@
                                </div>
                            </div>
                            <div id="copied-success" class="copied">
                                <span class="text-success">Copied</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <div class="input-group mb-3">
                                <input type="text" onclick="copyRight()" class="form-control text-white" style="background:#000; cursor:pointer;" value="http://admin.hmgreencity.com/Home/Registration?Pid=@Session["LoginId"]&lg=Right" id="copyClipboardRight" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-light" id="copyButtonRight" onclick="copyRight()"><i class="far fa-copy text-dark"></i></button>
                                </div>
                            </div>
                            <div id="copied-successRight" class="copied">
                                <span class="text-success">Copied</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Business Details</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered" id="tableExport" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Sr No.</th>
                                                <th>Business Type</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                                {
                                                    if (Model.lstinvestment != null)
                                                    {
                                                        int i = 1;
                                                        foreach (var Item in Model.lstinvestment)
                                                        {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.ProductName</td>
                                                    <td>@Item.Amount</td>
                                                    <td>@Item.Status</td>
                                                </tr>
                                                            i++;
                                                        }
                                                    }
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Notification</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered" id="tableExport1" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Sr No.</th>
                                                <th>Title</th>
                                                <th>News</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.NoticeMasterlist != null)
                                                {
                                                    int i = 1;
                                                    foreach (var Item in Model.NoticeMasterlist)
                                                    {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td>@Item.Title</td>
                                                <td>@Item.News</td>
                                            </tr>
                                                        i++;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Total Business</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered" id="tableExport2" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Team</th>
                                                <th>Total</th>
                                                <th>Paid</th>
                                                <th>C/F</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left">
                                                <td>Left</td>
                                                <td>@ViewBag.TotalBusinessLeft</td>
                                                <td>@ViewBag.PaidBusinessLeft</td>
                                                <td>@ViewBag.CarryLeft</td>
                                            </tr>
                                            <tr class="text-left">
                                                <td>Right</td>
                                                <td>@ViewBag.TotalBusinessRight</td>
                                                <td>@ViewBag.PaidBusinessRight</td>
                                                <td>@ViewBag.CarryRight</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12" hidden="hidden">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Current Month Business Details</h4>
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table mb-0" id="example23">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Direct Business</th>
                                                <th>Team Business</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left">
                                                <td>@ViewBag.DirectBusiness</td>
                                                <td>@ViewBag.TeamBusiness</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $("#myModal").modal('hide');
        $("#myModal1").modal('hide');
        $("#congratulation").modal('show');
        $("#rank").modal('show');
    });
    //copy js
    function copy() {
        let copyText = document.getElementById("copyClipboard");
        let copySuccess = document.getElementById("copied-success");
        copyText.select();
        document.execCommand("copy");
        copySuccess.style.opacity = "1";
        setTimeout(function () { copySuccess.style.opacity = "0" }, 5000);
    }

    function copyRight() {
        let copyTextRight = document.getElementById("copyClipboardRight");
        let copySuccessRight = document.getElementById("copied-successRight");
        copyTextRight.select();
        document.execCommand("copy");
        copySuccessRight.style.opacity = "1";
        setTimeout(function () { copySuccessRight.style.opacity = "0" }, 5000);
    }
</script>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="background-color: #fff;">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color: #fff;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newyear">
                            <img style="width:100%" src="~/WebsiteCss/KohinoorCity.jpeg" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="background-color: #fff;">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color: #fff;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newyear">
                            <img src="~/WebsiteCss/KohinoorCity1.jpeg" style="width:100%" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.ImageURL == "null" || Model.ImageURL == "" || Model.AchiverRank == "null" || Model.AchiverRank == "")
{
    <script>
        $(document).ready(function () {
            $("#congratulation").modal('hide');
        });

    </script>
}
else
{
    <div class="modal fade" id="congratulation" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="@ViewBag.ImageURL" />
                    <h4>@ViewBag.AchiverRank</h4>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade" id="rank" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-black pt-0">
                <button type="button" class="close btn-close-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <canvas id="birthday"></canvas> 
                <h4>Total Rank Achievers</h4>
                <div class="d-flex justify-content-around">
                    <h6>Rank Name</h6>
                    <h6>Total Achievers</h6>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <ul class="list-unstyled mt-0 user-details list-unstyled-border list-unstyled-noborder contact-list">
                            <li class="media mb-3 active">
                                <img alt="image" class="mr-3 rounded-circle" width="35" src="/assetsAdmin/img/user.png">
                                <div class="media-body">
                                    <div class="media-title">Cara Stevens</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">21</div>
                                    </div>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img alt="image" class="mr-3 rounded-circle" width="35" src="/assetsAdmin/img/user.png">
                                <div class="media-body">
                                    <div class="media-title">Hasan Basri</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">22</div>
                                    </div>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img alt="image" class="mr-3 rounded-circle" width="35" src="/assetsAdmin/img/user.png">
                                <div class="media-body">
                                    <div class="media-title">John Doe</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">45</div>
                                    </div>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img alt="image" class="mr-3 rounded-circle" width="35" src="/assetsAdmin/img/user.png">
                                <div class="media-body">
                                    <div class="media-title">Ashton Cox</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">16</div>
                                    </div>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img alt="image" class="mr-3 rounded-circle" width="35" src="/assetsAdmin/img/user.png">
                                <div class="media-body">
                                    <div class="media-title">Sarah Smith</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">09</div>
                                    </div>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <img alt="image" class="mr-3 rounded-circle" width="35" src="/assetsAdmin/img/user.png">
                                <div class="media-body">
                                    <div class="media-title">Sarah Smith</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">09</div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <img alt="image" class="mr-3 rounded-circle" width="35" src="/assetsAdmin/img/user.png">
                                <div class="media-body">
                                    <div class="media-title">Sarah Smith</div>
                                </div>
                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">09</div>
                                        @*<div class="media-label">Tasks</div>*@
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    // helper functions
    const PI2 = Math.PI * 2
    const random = (min, max) => Math.random() * (max - min + 1) + min | 0
    const timestamp = _ => new Date().getTime()

    // container
    class Birthday {
        constructor() {
            this.resize()

            // create a lovely place to store the firework
            this.fireworks = []
            this.counter = 0

        }

        resize() {
            this.width = canvas.width = window.innerWidth
            let center = this.width / 2 | 0
            this.spawnA = center - center / 4 | 0
            this.spawnB = center + center / 4 | 0

            this.height = canvas.height = window.innerHeight
            this.spawnC = this.height * .1
            this.spawnD = this.height * .5

        }

        onClick(evt) {
            let x = evt.clientX || evt.touches && evt.touches[0].pageX
            let y = evt.clientY || evt.touches && evt.touches[0].pageY

            let count = random(3, 5)
            for (let i = 0; i < count; i++) this.fireworks.push(new Firework(
               random(this.spawnA, this.spawnB),
               this.height,
               x,
               y,
               random(0, 260),
               random(30, 110)))

            this.counter = -1

        }

        update(delta) {
            ctx.globalCompositeOperation = 'hard-light'
            ctx.fillStyle = `rgba(20,20, 20,${7 * delta})`
            ctx.fillRect(0, 0, this.width, this.height)

            ctx.globalCompositeOperation = 'lighter'
            for (let firework of this.fireworks) firework.update(delta)

            // if enough time passed... create new new firework
            this.counter += delta * 3 // each second
            if (this.counter >= 1) {
                this.fireworks.push(new Firework(
                  random(this.spawnA, this.spawnB),
                  this.height,
                  random(0, this.width),
                  random(this.spawnC, this.spawnD),
                  random(0, 360),
                  random(30, 110)))
                this.counter = 0
            }

            // remove the dead fireworks
            if (this.fireworks.length > 1000) this.fireworks = this.fireworks.filter(firework => !firework.dead)

        }
    }

    class Firework {
        constructor(x, y, targetX, targetY, shade, offsprings) {
            this.dead = false
            this.offsprings = offsprings

            this.x = x
            this.y = y
            this.targetX = targetX
            this.targetY = targetY

            this.shade = shade
            this.history = []
        }
        update(delta) {
            if (this.dead) return

            let xDiff = this.targetX - this.x
            let yDiff = this.targetY - this.y
            if (Math.abs(xDiff) > 3 || Math.abs(yDiff) > 3) { // is still moving
                this.x += xDiff * 2 * delta
                this.y += yDiff * 2 * delta

                this.history.push({
                    x: this.x,
                    y: this.y
                })

                if (this.history.length > 20) this.history.shift()

            } else {
                if (this.offsprings && !this.madeChilds) {

                    let babies = this.offsprings / 2
                    for (let i = 0; i < babies; i++) {
                        let targetX = this.x + this.offsprings * Math.cos(PI2 * i / babies) | 0
                        let targetY = this.y + this.offsprings * Math.sin(PI2 * i / babies) | 0

                        birthday.fireworks.push(new Firework(this.x, this.y, targetX, targetY, this.shade, 0))

                    }

                }
                this.madeChilds = true
                this.history.shift()
            }

            if (this.history.length === 0) this.dead = true
            else if (this.offsprings) {
                for (let i = 0; this.history.length > i; i++) {
                    let point = this.history[i]
                    ctx.beginPath()
                    ctx.fillStyle = 'hsl(' + this.shade + ',100%,' + i + '%)'
                    ctx.arc(point.x, point.y, 1, 0, PI2, false)
                    ctx.fill()
                }
            } else {
                ctx.beginPath()
                ctx.fillStyle = 'hsl(' + this.shade + ',100%,50%)'
                ctx.arc(this.x, this.y, 1, 0, PI2, false)
                ctx.fill()
            }

        }
    }

    let canvas = document.getElementById('birthday')
    let ctx = canvas.getContext('2d')

    let then = timestamp()

    let birthday = new Birthday
    window.onresize = () => birthday.resize()
    document.onclick = evt => birthday.onClick(evt)
    document.ontouchstart = evt => birthday.onClick(evt)

    ; (function loop() {
        requestAnimationFrame(loop)

        let now = timestamp()
        let delta = now - then

        then = now
        birthday.update(delta / 1000)


    })()
</script>