@model HMGreenCityMLM.Models.Wallet
@{
    ViewBag.Title = "ApprovepayoutRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 

<span style="color: red">@TempData["Topup"] </span>
<br />
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users edit start -->
            <section class="users-edit">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="nav nav-tabs mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account"
                                       aria-controls="account" role="tab" aria-selected="true">
                                        <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block"> Approve Payout Request </span>
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">

                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <div class="dt-responsive table-responsive">
                                                <table class="table mb-0" id="example23">

                                                    <thead>
                                                        <tr>
                                                            <th>Sr No.</th>
                                                            <th>Login Id</th>
                                                            <th>Name</th>
                                                            <th>Requested Date</th>

                                                            <th>Amount</th>

                                                            <th>Status</th>
                                                            <th></th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.lstPayoutrequest != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var Item in Model.lstPayoutrequest)
                                                                {
                                                                    <tr class="text-left">
                                                                        <td>@i</td>
                                                                        <td>@Item.LoginId</td>
                                                                        <td>@Item.DisplayName</td>
                                                                        <td>@Item.AddedOn</td>

                                                                        <td>@Item.Amount</td>

                                                                        <td>@Item.Status</td>
                                                                        <td>
                                                                            @if (Item.Status == "Pending")
                                                                            {
                                                                                <a class="btn btn-success btn-sm" href="/Accounts/ApproveRequest/@Item.Pk_RequestId">Approve</a>
                                                                                <a class="btn btn-danger btn-sm" href="/Accounts/DeclineRequest/@Item.Pk_RequestId">Decline</a>
                                                                            }

                                                                        </td>

                                                                    </tr>
                                                                    i++;
                                                                }

                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>








