@model HMGreenCityMLM.Models.Permisssions

@{
    ViewBag.Title = "SetmainId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("SetmainId", "Permission", FormMethod.Post, new { @class = "tr-form" }))
{
 
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <span style="color: #f90b37;padding-left:18px;font-weight: 800">
                    @TempData["Msg"]
                </span>
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account"
                                           aria-controls="account" role="tab" aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block">Set Main Id</span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Select User <span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(m => m.EmployeeId, new SelectList(ViewBag.ddluser, "Value", "Text"), new { @class = "form-control" }) 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Associate Login Id <span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id" })
                                                        @Html.HiddenFor(m => m.ToLoginID)
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label"></label>
                                                    <div class="col-sm-9">
                                                        <input type="submit" id="Set" name="Set" class="btn btn-primary" value="Set Id" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account"
                                           aria-controls="account" role="tab" aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span class="d-none d-sm-block">List of Employee & Associate Setting</span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12 dt-responsive table-responsive associatman">
                                                <table class="table mb-0" id="example23">

                                                    <thead>
                                                        <tr>
                                                            <th>Sr No.</th>
                                                            <th>Employee</th>
                                                            <th>Associate LoginId</th>
                                                            <th>Associate Name</th> 
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.LstSetMain != null)
                                                        {
                                                            if (ViewBag.LstSetMain.Count > 0)
                                                            {
                                                                int i = 1;
                                                                foreach (var Item in ViewBag.LstSetMain)
                                                                {
                                                                    <tr class="text-left">
                                                                        <td>@i</td>
                                                                        <td>@Item.EmployeeName</td>
                                                                        <td>@Item.LoginId</td>
                                                                        <td>@Item.UserName</td> 
                                                                    </tr>
                                                                    i++;
                                                                } 
                                                            }
                                                        }
                                                    </tbody>
                                                </table> 
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
<script src="../../WebsiteCss/js/jquery.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $(document).ready(function () {
        debugger;
        if ($("#IsDownline").is(':checked')) {
            $("#divLeg").show();
        }
        $('#IsDownline').change(function () {
            if (this.checked) {
                $("#divLeg").show();
            }
            else {
                $("#divLeg").hide();
            }
        });
        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/Admin/GetUserList',
            type: 'Post',
            success: function (response) {
                if (response != null) {
                    $(response).each(function (index, item) { 
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });
                    $('#LoginId').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label; 
                            var strsplit = str.split("(");
                            if (strsplit[2] != undefined) {
                                $('#ToLoginID').val(strsplit[2].substr(0, strsplit[2].length - 1));
                            } else {
                                $('#ToLoginID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                            }
                        }
                    })
                }
            },
            error: function () {
                debugger;
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
   
    function validateLogin() {
        var login = $('#LoginId').val();
        if (login == "") {
            $('#ToLoginID').val(null);
        } else {
            var loginid = $('#ToLoginID').val();

        }
    }

</script>