@model HMGreenCityMLM.Models.Reports

@{
    ViewBag.Title = "BusinessReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("BusinessReport", "UserReports", FormMethod.Post, new { @id = "form1" }))
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Business Report</h5>
                        @*<button class="btn btn-info"><a href="#!" class="text-white">Add New News</a></button>*@
                    </div>
                    @*<p style="color: red;display: block; margin-bottom:0px; text-align:center">
                            @TempData["ChangeAsspassword"]
                        </p>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>From Date</label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>To Date</label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Leg</label>
                            @Html.DropDownListFor(m => m.Leg, new SelectList(ViewBag.Leg, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>IsDownline</label>
                            @Html.CheckBoxFor(m => m.IsDownline)
                        </div>
                        
                        <div class="form-group col-md-4">
                            <input type="submit" class="btn btn-info" value="Get Details" name="GetDetails" />
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>LoginId</th>
                                    <th>Name</th>

                                    <th>Closing Date</th>
                                    <th style="text-align:right">Amount</th>
                                    <th style="text-align:right">BV</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total</b></td>
                                    <td style="text-align:right"><b style="color:blue;text-align:right">@ViewBag.TotalNetAmount</b></td>
                                    <td style="text-align:right"> <b style="color:blue;text-align:right">@ViewBag.TotalBV</b></td>
                                </tr>
                            </tfoot>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstassociate != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstassociate)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td>@Item.LoginId</td>
                                                <td>@Item.DisplayName</td>

                                                <td>@Item.ClosingDate</td>
                                                <td style="text-align:right">@Item.NetAmount</td>
                                                <td style="text-align:right">@Item.LeadershipBonus</td>
                                            </tr>
                                            i++;
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>

    $('#ClosingDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true
    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true
    });
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>

