@model HMGreenCityMLM.Models.Profile
@{
    ViewBag.Title = "PayoutReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("PayoutReport", "UserReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Payout Report</h5>
                        @*<button class="btn btn-info"><a href="#!" class="text-white">Add New News</a></button>*@
                    </div>
                    @*<p style="color: red;display: block; margin-bottom:0px; text-align:center">
                            @TempData["ChangeAsspassword"]
                        </p>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Payout No</label>
                            @Html.TextBoxFor(m => m.PayoutNo, new { @class = "form-control", @onclick = "return isNumberOrDecimal(event);" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>From Date</label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>To Date</label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn btn-success" type="submit" value="Search" name="Search" id="btnSearch" />
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="tableExport234" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Login ID</th>
                                    <th>First Name</th>
                                    <th>Payout No</th>
                                    <th>Closing Date</th>
                                    <th>Direct Income</th>
                                    <th>Binary Income</th>
                                    <th hidden="hidden">Direct Leadership Bonus</th>
                                    <th>Gross Amount</th>
                                    <th>TDS Amount</th>
                                    <th>Processing Fee</th>
                                    <th hidden="hidden">Product Wallet</th>
                                    <th>NET Payable Amount</th>
                                    <th hidden="hidden">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstPayoutDetail != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstPayoutDetail)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td>@Item.LoginId</td>
                                                <td>@Item.DisplayName</td>
                                                <td>@Item.PayoutNo</td>
                                                <td>@Item.ClosingDate</td>
                                                <td>@Item.DirectIncome</td>
                                                <td>@Item.BinaryIncome</td>
                                                <td hidden="hidden">@Item.LeadershipBonus</td>
                                                <td>@Item.GrossAmount</td>
                                                <td>@Item.TDSAmount</td>
                                                <td>@Item.ProcessingFee</td>
                                                <td hidden="hidden">@Item.ProductWallet</td>
                                                <td>@Item.NetAmount</td>
                                                <td hidden="hidden">
                                                    <a href="/UserReports/PayoutReceipt?lid=@Item.EncryptLoginID&pno=@Item.EncryptPayoutNo" class="btn btn-sm btn-primary" target="_blank">Print</a>
                                                </td>
                                            </tr>
                                            i++;
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear:true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true
    });

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>
