@model HMGreenCityMLM.Models.Master

@{
    ViewBag.Title = "NoticeMasterList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("NoticeMasterList", "Master", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{

    //==================================================================================================================
    <span style="color: red">
        @TempData["NoticeMasterList"]
    </span>
    <section class="section">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Notice Master List</h6>
                            <button class="btn btn-info"><a href="/Master/NoticeMaster" class="text-white">Add New</a></button>
                        </div>
                        <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Title</th>
                                        <th>News</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.NoticeMasterlist != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.NoticeMasterlist)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.Title</td>
                                                    <td>@Item.News</td>

                                                    <td>
                                                        <a href="/Master/NoticeMaster?PK_NoticeMasterId=@Item.PK_NoticeMasterId" class="btn btn-info btn-sm">Edit</a>
                                                        <a href="/Master/DeleteNotice?id=@Item.PK_NoticeMasterId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Site?');" name="btnDelete">Delete</a>
                                                    </td>

                                                </tr>

                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <span style="color: red">
                                @TempData["NoticeMasterList"]
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    //==================================================================================================================


}





